<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" context="width=device-width, initial-scale=1.0" />

    <title>{% block title %}Default Title{% endblock %}</title>

    <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/assets/css/app.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/metrics.css" />

    <script src="/assets/js/htmx.min.js"></script>

    <script defer src="/assets/js/brands.js"></script>
    <script defer src="/assets/js/solid.js"></script>
    <script defer src="/assets/js/fontawesome.js"></script>

    {% block head %}{% endblock %}
  </head>

  <body class="h-screen flex flex-col">
    {% block full_body %}
    {% include "topbar.html" %}

    <div class="flex flex-1">
      {% include "sidebar.html" %}

      <main class="bg-base-100 flex-1 p-4">
        {% block content %}{% endblock %}
        {% endblock %}
      </main>
    </div>
  </body>

  {% block trailing_script %}{% endblock %}
</html>
