<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" context="width=device-width, initial-scale=1.0">

    <title>{% block title %}Default Title{% endblock %}</title>

    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/app.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/metrics.css">

    <script src="/assets/js/htmx.min.js.gz"></script>

    {% block head %}{% endblock %}
  </head>

  <body>
    <div id="content">{% block content %}{% endblock %}</div>
  </body>

  {% block trailing_script %}{% endblock %}
</html>
