<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" context="width=device-width, initial-scale=1.0" />

    <title>{% block title %}Default Title{% endblock %}</title>

    <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/assets/css/app.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/metrics.css" />

    <script src="/assets/js/htmx.min.js"></script>

    <script defer src="/assets/js/brands.js"></script>
    <script defer src="/assets/js/solid.js"></script>
    <script defer src="/assets/js/fontawesome.js"></script>

    {% block head %}{% endblock %}
  </head>

  <body class="h-screen flex flex-col">
    {% block full_body %}
    <nav class="navbar bg-base-300 p-4">
      <div class="flex-1">
        <a href="/" class="text-xl">Web App Template</a>
      </div>

      <div class="flex-none gap-2 navbar-end">
        <div class="form-control">
          <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto" />
        </div>

        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
            <div class="w-10 rounded-full">
              <img alt="cute forest creature avatar" src="/assets/imgs/critter-avatar.webp" />
            </div>
          </div>

          <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-md dropdown-content bg-base-200 rounded-box w-52">
            <li>
              <label class="swap swap-rotate">
                <input type="checkbox" value="wireframe" class="theme-controller"/>
                <i class="fas fa-moon swap-off"></i>
                <i class="fas fa-sun swap-on"></i>
              </label>
            </li>
            <li>
              <a class="justify-between">Profile <span class="badge">New</span></a>
            </li>
            <li><a>Settings</a></li>
            <li><a href="/auth/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="flex flex-1">
      <aside class="bg-base-300 text-white w-64">
        <div class="join join-vertical w-full">
          <div class="collapse collapse-arrow join-item">
            <input type="radio" name="side-nav" checked="checked" />
            <div class="collapse-title text-xl font-medium">Activity</div>

            <div class="collapse-content bg-base-200">
              <ul class="p-4">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Metrics</a></li>
                <li><a href="#">Logs</a></li>
              </ul>
            </div>
          </div>

          <div class="collapse collapse-arrow join-item">
            <input type="radio" name="side-nav" />
            <div class="collapse-title text-xl font-medium">Tasks</div>

            <div class="collapse-content bg-base-200">
              <ul class="p-4">
                <li><a href="#">New Request</a></li>
                <li><a href="#">Project Status</a></li>
              </ul>
            </div>
          </div>

          <div class="collapse collapse-arrow join-item">
            <input type="radio" name="side-nav" />
            <div class="collapse-title text-xl font-medium">Data</div>

            <div class="collapse-content bg-base-200">
              <ul class="p-4">
                <li><a href="#">Data Lakes</a></li>
                <li><a href="#">Direct Query</a></li>
              </ul>
            </div>
          </div>

          <div class="collapse collapse-arrow join-item">
            <input type="radio" name="side-nav" />
            <div class="collapse-title text-xl font-medium">Tools</div>

            <div class="collapse-content bg-base-200">
              <ul class="p-4">
                <li><a href="#">Prompt Refiner</a></li>
                <li><a href="#">Human Feedback</a></li>
              </ul>
            </div>
          </div>

          <div class="collapse collapse-arrow join-item">
            <input type="radio" name="side-nav" />
            <div class="collapse-title text-xl font-medium">Settings</div>

            <div class="collapse-content bg-base-200">
              <ul class="p-4">
                <li><a href="#">Agents</a></li>
                <li><a href="#">Models</a></li>
                <li><a href="#">Tools</a></li>
                <li><a href="#">Workflows</a></li>
                <li><a href="#">System</a></li>
              </ul>
            </div>
          </div>
        </div>
      </aside>

      <main class="bg-base-100 flex-1 p-4">

        {% block content %}{% endblock %}
        {% endblock %}
      </main>
    </div>
  </body>

  {% block trailing_script %}{% endblock %}
</html>
