<aside class="bg-base-300 w-64">
  <div class="join join-vertical w-full">
    <div class="collapse collapse-arrow join-item">
      <input type="radio" name="side-nav" checked="checked" />
      <div class="collapse-title text-xl font-medium">Activity</div>

      <div class="collapse-content bg-base-200">
        <ul class="p-4">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Metrics</a></li>
          <li><a href="#">Logs</a></li>
        </ul>
      </div>
    </div>

    <div class="collapse collapse-arrow join-item">
      <input type="radio" name="side-nav" />
      <div class="collapse-title text-xl font-medium">Tasks</div>

      <div class="collapse-content bg-base-200">
        <ul class="p-4">
          <li><a href="#">New Request</a></li>
          <li><a href="#">Project Status</a></li>
        </ul>
      </div>
    </div>

    <div class="collapse collapse-arrow join-item">
      <input type="radio" name="side-nav" />
      <div class="collapse-title text-xl font-medium">Data</div>

      <div class="collapse-content bg-base-200">
        <ul class="p-4">
          <li><a href="#">Data Lakes</a></li>
          <li><a href="#">Direct Query</a></li>
        </ul>
      </div>
    </div>

    <div class="collapse collapse-arrow join-item">
      <input type="radio" name="side-nav" />
      <div class="collapse-title text-xl font-medium">Models</div>

      <div class="collapse-content bg-base-200">
        <ul class="p-4">
          <li><a href="#">Manual Testing</a></li>
        </ul>
      </div>
    </div>

    <div class="collapse collapse-arrow join-item">
      <input type="radio" name="side-nav" />
      <div class="collapse-title text-xl font-medium">Tools</div>

      <div class="collapse-content bg-base-200">
        <ul class="p-4">
          <li><a href="#">Prompt Refiner</a></li>
          <li><a href="#">Human Feedback</a></li>
        </ul>
      </div>
    </div>

    <div class="collapse collapse-arrow join-item">
      <input type="radio" name="side-nav" />
      <div class="collapse-title text-xl font-medium">Settings</div>

      <div class="collapse-content bg-base-200">
        <ul class="p-4">
          <li><a href="#">Agents</a></li>
          <li><a href="#">Models</a></li>
          <li><a href="#">Tools</a></li>
          <li><a href="#">Workflows</a></li>
          <li><a href="#">System</a></li>
        </ul>
      </div>
    </div>
  </div>
</aside>
